html {
    background: fixed linear-gradient(#213264, #55F9FF);
}

body {
    margin: 25px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    border: 10px solid #00000000;
    border-radius: 5px;
    background: #00000055;
    padding: 5px;
    filter: drop-shadow(5px 5px 5px #000);
}